<!DOCTYPE html>

<headers>


  <nav>
    <div class="container">
      <a class="logo" href="/">
        <img class="logo-img" src="/img/me.jpg" alt="Brandon Schmalz">
      </a>
      <ul class="nav" role="navigation">



            <li class="hover-effect active">

              <a href="/">Home</a>
            </li>


            <li class="hover-effect">

              <a href="/archive/">Archive</a>
            </li>


            <li class="hover-effect">

              <a href="/about/">About</a>
            </li>


            <li class="hover-effect">

              <a href="/contact/">Contact</a>
            </li>

      </ul>
    </div>
  </nav>
</headers>
