.pag-container {
  background-color: $black;
  border-radius: 3px;
  box-shadow: 0 0 0 0, 0 6px 12px $shadow;
  margin-bottom: 20px;
  margin-top: 70px;
  padding: 15px 0 1px;
  }

.pagination {
  background-color: $black;
  margin: 30px;
  text-align: center;

  ul {
    display: inline;
    margin-right: 3px;
}

  li {
    padding-left: 4px;
    padding-right: 4px;

}
}

.current-page {
  font-weight: 700;
}

.inline-list {
  padding-left: 0;

  li {
    display: inline;
    list-style-type: none;
}

  span {
    border: 1px solid $black;
    padding: 4px 7px;
}
}
